/* Resets */

* {
  box-sizing: border-box;
}

body { margin: 0; }

/* Body */

body { background: #fcf7f8; }

/* Page container */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */

h1 {
  margin: 0 0 .8em 0;
  padding-top: .5em;
  font-size: 3rem;
  text-align: center;
  color: #a31621;
  font-family: 'Dancing Script', cursive;
}

header > div {  /* button container div */
  padding-left: 10%;
  border-top: 2px solid #4e8098;
}

header button {
  font-size: 1.2rem;
  background: linear-gradient(#4e8098, #90c2e7);
  color: #fcf7f8;
}

/* Bookshelf */

#bookshelf {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/*
  Book divs
  */

.book {
  padding: 10px;
}

.cover {
  width: 12em;
  height: 16em;
  padding: 10px;
  background: white;
  border: 1px solid black;
}

.title {
  font-size: 1.5rem;
  text-align: center;
}

.author {
  font-size: .8rem;
  text-transform: uppercase;

  margin-bottom: 2em;
}

/* Read checkbox */

.book input[type="checkbox"] { display: none; }

.book input + label {
  margin-left: .5em;
  margin-right: .5em;
  vertical-align: top;
  color: #ced3dc;
}

.book input:not(:checked) + label::before { /* gray bookmark */
  content: '';
  display: inline-block;
  margin-right: .5em;
  border: .5em solid #ced3dc;
  border-bottom-color: transparent;
}

.book input:checked + label::after {  /*  red bookmark */
  content: '';
  display: inline-block;
  margin-left: .5em;
  border: .5em solid #a31621;
  border-bottom-color: transparent;
}
.book input:checked + label { color: black; }

.book input:hover + label { color: #a31621; }

/* Remove button */

.book button {
  float: right;
  margin-right: .5em;
  margin-top: .5em;
}

/*
  Buttons
  */

button {
  background: #fcf7f8;
  border: 2px solid #4e8098;
  border-radius: 4px;
  color: #4e8098;
  padding: .2em 1em;
}

button:hover {
  color: #fcf7f8;
  background: #90c2e7;
}

button:active {
  border-color: #90c2e7;
  background: #fcf7f8;
  color: #90c2e7;
}

.topside-flat {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
  Modal window for Add Book form
  */

#book-form {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: #666;
  background-color: rgba(0, 0, 0, .4);
}

#book-form form {
  width: 50%;
  max-width: 600px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;

  padding: 20px;
  padding-top: 40px;

  position: relative;

  border-radius: 2px;
  background-color: #fcf7f8;
  box-shadow: 6px 6px 10px 2px #444;
}

form input { min-width: 10px; }

form label { flex: 2 0 40%; }

form input[type="text"] { flex: 3 1 60%; }

form label:nth-of-type(3),
form input[type="number"],
form input[type="checkbox"],
form input[type="checkbox"] + label {
  flex: 1 1 20%;
  max-width: 20%;
}

form button { flex: 1 0 100%; }

form input,
form label { margin-bottom: 10px; }

form .close-btn {
  position: absolute;
  right: 20px;
  top: 10px;
}

#book-form.closed { display: none; }

body.with-modal { overflow-y: hidden; }
